<header class="header">
	<section class="header-content">
		<ul class="header-user-nav header-nav">
			<li><%= User.find(session[:userid]).nickname %></li>
			<li><strong><%= link_to 'Уйти отсюда', logout_path %></strong></li>
		</ul>
		<div class="header-logo"><%= link_to (image_tag ('small-logo.png')), index_path, class: "logo" %></div>
		<div class="header-search">
			<%= render 'main/search_form' %>
		</div>
		<ul class="header-site-nav header-nav">
			<li><strong><%= link_to 'Добавить фильм', new_movie_path %></strong></li>
		</ul>
	</section>
</header>