<div>
<% ('a'..'z').to_a.each do |char| %>
<strong><%= link_to char %></strong>
<% end %><br>
<% 'а,б,в,г,д,е,ж,з,и,й,к,л,м,н,о,п,р,с,т,у,ф,х,ц,ч,ш,щ,э,ю,я'.split(',').each do |char| %>
<strong><%= link_to char %></strong>
<% end %>
</div>
<div class="movie-left-container right-border">
	<table class="index-page-table">
		<% @movies.each do |movie| %>
		<tr>
			<td class="index-page-td-with-border">
				<div class="index-page-movie-desc">
					<div class="index-page-image"><%= image_tag ("posters/" + movie.image) unless movie.image.empty? %></div>
					<div class="index-page-movie-title"><%= link_to movie.title, movie_path(movie) %> </div>
					<div class="index-page-movie-orig-title"><%= movie.orig_title %> (<%= movie.year %>)</div>
				</div>
			</td>
		</tr>
		<tr>
			<td></td>
		</tr>
		<% end %>
	</table>
</div>
