<div>
<% ('a'..'z').to_a.each do |char| %>
<strong><%= link_to char %></strong>
<% end %><br>
<% 'а,б,в,г,д,е,ж,з,и,й,к,л,м,н,о,п,р,с,т,у,ф,х,ц,ч,ш,щ,э,ю,я'.split(',').each do |char| %>
<strong><%= link_to char %></strong>
<% end %>
</div>
<div class="movie-left-container right-border">
	<table class="index-page-table">
		<% @movies.each do |movie| %>
		<tr>
			<td class="index-page-td-with-border">
				<div class="index-page-movie-desc">
					<table>
						<tr>
							<td rowspan="2">
								<div class="index-page-image left"><%= image_tag ("posters/" + movie.image) unless movie.image.empty? %></div>
							</td>
							<td class="top" colspan="2">
									<div class="index-page-movie-content left">
										<div class="index-page-movie-title"><%= link_to movie.title, movie_path(movie) %> </div>
										<div class="index-page-movie-orig-title"><%= movie.orig_title %> <%= "(#{movie.year})" if movie.year? %></div>
									</div>
							</td>
						</tr>
						<tr>
							<td class="bottom half">
								<i><%= link_to raw("Рецензий #{get_all_responses_amount(movie, 'review')} | #{get_new_responses_amount(movie, 'review')}"), movie_path(movie) %></i>
							</td>
							<td class="bottom half">
								<i><%= link_to raw("Комментариев #{get_all_responses_amount(movie, 'comment')} | #{get_new_responses_amount(movie, 'comment')}"), comments_path(movie.id)%></i>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
		<tr>
			<td></td>
		</tr>
		<% end %>
	</table>
</div>
<div class="movie-right-container">
	<h2 class="h2-container h2-background no-top-margin">Фильтр (сделаю)</h2>
</div>
