<%= form_for @comment do |f| %>
	<%= f.hidden_field :user_id %>
	<%= f.hidden_field :movie_id %>
	<a class="comment-insert-image-link"><i><%= t(".insert_image") %></i></a>
    <%= f.text_area :content, class: "comment-review-textbox" %>
    <%= f.submit t(".submit"), class: "button", data: { disable_with: t(".submit_in_progress") } %>
<% end %>