<div>
	<div class="comment-block" data-comment-id=<%= inner.id %> data-movie-id=<%= inner.movie.id %> data-user-id=<%= session[:userid] %>>
		<div class='comment-block-inner indent_<%= index %> <%= 'red-border' if inner.updated_at > @last_login %>'>
			<div class="comment-body">
				<%= inner.content %>
			</div>
			<footer>
				Написал <%= User.find(inner.user_id).nickname %> <%= inner.updated_at.to_formatted_s(:short) %> <a class="c_answer" data-comment-id=<%= inner.id %>>ответить</a>
			</footer>
		</div>
	</div>
	<% if Comment.where(parent_id: inner.id).size > 0 %>
		<%= render partial: "comments/inner", collection: Comment.where(parent_id: inner.id), locals: {index: index + 1} %>
	<% end %>
</div>

