<%= form_for(@movie) do |f| %>
<div class="movie-left-container">
  <table width="100%">
    <tr>
      <th><%= f.label :title, t(".title") %><span class="red">*</span></th>
      <td><%= f.text_field :title, class: "field" %></td>
    </tr>
    <tr>
      <th><%= f.label :orig_title, t(".orig_title") %></th>
      <td><%= f.text_field :orig_title, class: "field" %></td>
    </tr>
    <tr>
      <th><%= f.label :year, t(".year") %></th>
      <td><%= f.text_field :year, size: "4" %></td>
    </tr>
    <tr>
      <th><%= f.label :link, t(".link") %> <span class="small">(например на kinopoisk.ru)</span> </th>
      <td><%= f.text_field :link, class: "field" %></td>
    </tr>
    <tr>
      <th><%= f.label :image, t(".link_to_image") %></th>
      <td><%= text_field_tag :url_upload_textbox, nil, class: "field" %><%= f.hidden_field :image %></td>
    </tr>
    <tr>
      <td><%= f.hidden_field :user_id, value: session[:userid] %>
      <%= f.submit t("general.crud.save"), class: "button" %></td>
      <td>
      <%= link_to t("general.crud.cancel"), index_path, class: "cancel-link" %></td>  
    </tr>
  </table>
</div>
<div class="movie-right-container">
  
  <% if @movie.image && !@movie.image.empty? %>
    <h2 class="h2-container h2-background no-top-margin"><%= t(".current_image") %></h2>
    <%= image_tag ("posters/" + @movie.image) if @movie.image && !@movie.image.empty? %><br /><br />
  <% end %>
  <span class="red">*</span> <span class="small"> <%= t(".red_astronim_text") %></span>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <%= t("other.pluralize.error", count: @movie.errors.count) %>:<br>
      <% @movie.errors.full_messages.each do |message| %>
        - <span class="small"><%= message %></span><br>
      <% end %>
    </div>
  <% end %>
</div>
<% end %>
