<%= form_for(@movie) do |f| %>
<div class="movie-left-container">
  <table width="100%">
    <tr>
      <th><%= f.label :title, "Название" %><span class="red">*</span></th>
      <td><%= f.text_field :title, class: "field" %></td>
    </tr>
    <tr>
      <th><%= f.label :orig_title, "Название в оригинале" %></th>
      <td><%= f.text_field :orig_title, class: "field" %></td>
    </tr>
    <tr>
      <th><%= f.label :year, "В каком году снят" %></th>
      <td><%= f.text_field :year, size: "4" %></td>
    </tr>
    <tr>
      <th><%= f.label :link, "Ссылка" %> <span class="small">(например на kinopoisk.ru)</span> </th>
      <td><%= f.text_field :link, class: "field" %></td>
    </tr>
    <tr>
      <th><%= f.label :image, "Ссылка на картинку" %></th>
      <td><%= text_field_tag :url_upload_textbox, nil, class: "field" %><%= f.hidden_field :image %></td>
    </tr>
    <tr>
      <td><%= f.submit %></td>
      <td>
      <%= link_to 'Я передумал', index_path, class: "cancel-link" %></td>  
    </tr>
  </table>
</div>
<div class="movie-right-container">
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if @movie.image && !@movie.image.empty? %>
    <h2 class="h2-container h2-background no-top-margin">Сейчас такая картинка</h2>
    <%= image_tag ("posters/" + @movie.image) if @movie.image && !@movie.image.empty? %><br /><br />
  <% end %>
  <span class="red">*</span> <span class="small"> хотя бы со звёздочкой нужно заполнить, иначе смысл?</span>
</div>
<% end %>
