<div class="movie-left-container">
  <!-- <p id="notice"><%= notice %></p> -->
  <div class="stacked"><%= link_to 'Хочу на главную!', index_path, class: "action-link" %></div>
  <div class="movie-cover-image-container col">
    <%= image_tag ("posters/" + @movie.image), class: "movie-cover-image" unless @movie.image.empty? %>
    <%= render "review/star_rating" %>     
  </div>
  <div class="movie-main-content col last">
    <h1 class="movie-title"><%= @movie.title %></h1>
    <div class="stacked">
      <% unless @movie.link.empty? %><%= link_to @movie.orig_title, @movie.link %>
      <% else %><%= @movie.orig_title %>
      <% end %>
      (<%= @movie.year %>)
    </div>
  </div>
  <div class="clear"></div>
  <div>
    <div><%= link_to 'Редактировать кино', edit_movie_path(@movie), class: "action-link" %>
    <%= link_to "Комментарии (#{@movie.comments.size})", comments_path(params[:id]), class: "action-link right" %></div>
    <div class="movie-added-by-text left">Фильм любезно добавил <strong><%= User.find(@movie.user_id).nickname %></strong></div>
    <div>
      <% if @movie.reviews.where({user_id: session[:userid]}).size == 0 %>
      <h2 class="h2-container h2-background">Напишу-ка я отзыв</h2>
      <%= render "review/form" %>
      <% else %>
      <h2 class="h2-container h2-background">Что я написал</h2>
      <div><%= render partial: "review/inner", collection: @movie.reviews.where({user_id: session[:userid]}) %></div>
      <% end %>

      <% unless @movie.reviews.where.not(user_id: session[:userid]).size == 0 %>
      <h2 class="h2-container h2-background">Что пишут другие</h2>
      <div><%= render partial: "review/inner", collection: @movie.reviews.where.not(user_id: session[:userid]) %></div>
      <% end %>
    </div>
  </div>
</div>
<div class="movie-right-container">
  <h2 class="h2-container h2-background">Вот последний комментарий</h2>
  <% unless @movie.comments.last.nil? %>
  <%= @movie.comments.last.content  %>
    <footer>
        Написал <%= User.find(@movie.comments.last.user_id).nickname %> <%= @movie.comments.last.updated_at.to_formatted_s(:short) %>
    </footer>
  <% else %>
  <i>Никто не писал комментариев</i>
  <% end %>
</div>
