<div class="main-container-float">
  <div class="post-full-container">
    <!-- <p id="notice">
    <%= notice %>
    </p> -->
    <div class="stacked"><%= link_to t("general.crud.back"), posts_path, class: "action-link" %></div>
    <div class="movie-main-content col last">
      <%= raw(@post.content) %>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div class="comment-main-container">
  <header class="comment-header"><%= t(".comments") %></header>
  <% if @post.post_comments.where({post_id: params[:post_id]}).size == 0 %>
  <i><%= t(".no_comments") %></i>
  <% else %>
  <div><%= render partial: "post_comments/inner", collection: @post.post_comments.where({post_id: params[:post_id], parent_id: nil}), locals: { index: 0 } %></div>
  <% end %>
  <div class="separator"></div>
  <span><%= t(".new_comment") %></span>
  <%= render "post_comments/add_comment_form" %>
</div>