<p id="notice"><%= notice %></p>

<p>
  <strong><%= t(".username") %></strong>
  <%= @user.username %>
</p>

<p>
  <strong><%= t(".nickname") %></strong>
  <%= @user.nickname %>
</p>

<p>
  <strong><%= t(".password") %></strong>
  <%= @user.password %>
</p>

<%= link_to t("general.crud.edit"), edit_user_path(@user) %> |
<%= link_to t("general.crud.back"), login_path %>
