
<div class="b-auth_container">
  <div class="b-auth_form">
    <div class="b-auth_form_bg"></div>
    <span class="b-logo"><%= image_tag ('logo.png') %></span>
    <%= form_tag(controller: "login", action: "attempt_login") do %>
        <%= label_tag :username, nil, for: "username" %>
        <%= text_field_tag :username, nil, id: "username", class: "b-text_input", autofocus: true %>
        <%= label_tag :password %>
        <%= password_field_tag :password, nil, id: "password", class: "b-text_input" %>
        &nbsp;
        <%= submit_tag("Log in") %>
        <%= link_to 'New User', new_user_path %>
    <% end %>
  </div>
</div>

