<%= form_for(@post) do |f| %>
<div class="movie-left-container">
  <%= f.hidden_field :user_id, value: session[:userid] %>
  <a class="comment-insert-image-link"><i><%= t(".insert_image") %></i></a>
  <%= f.text_area :content, class: "comment-review-textbox" %>
  <%= f.submit t(".submit"), class: "button", data: { disable_with: t(".submit_in_progress") } %>
  <%= link_to t("general.crud.cancel"), posts_path, class: "cancel-link right bold" %></td>  
</div>
<div class="movie-right-container">
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <span class="small"><%= t(".empty_post") %></span>
</div>
<% end %>
