<header class="header">
	<section class="header-content">
		<ul class="header-user-nav header-nav">
			<li><%= User.find(session[:userid]).nickname %></li>
			<li><strong><%= link_to t("general.header.logout"), logout_path %></strong></li>
		</ul>
		<div class="header-logo"><%= link_to (image_tag ('small-logo.png')), posts_path, class: "logo" %></div>
		<div class="header-search">
			<%= render 'main/search_form' %>
		</div>
		<ul class="header-site-nav header-nav">
			<li><strong><%= link_to t("general.header.new_post"), new_post_path %></strong></li>
		</ul>
	</section>
</header>