<div class="post-full-container right-border">
	<div class="index-page-header", style="margin-bottom: 20px;">
		<%= link_to t("general.header.movies_tab"), index_path, class: "index-tab" %>
		<%= link_to t("posts_tab"), posts_path, class: "index-selected-tab" %>
	</div>
	<table class="index-page-table">
		<% if @posts %><% @posts.each do |post| %>
		<tr>
			<td class="index-page-td-with-border">
				<div class="index-page-movie-desc">
					<table>
						<tr>
							<td class="top">
								<%= raw(post.content) %>
							</td>
						</tr>
						<tr>
							<td class="bottom half">
								<footer style="margin-top: 20px;">
									Написал <%= User.find(post.user_id).nickname %> <%= l post.created_at %> <i>&nbsp; &nbsp;<%= link_to raw("Комментариев #{get_all_post_comments_amount(post)} | #{get_new_post_comments_amount(post)}"), post_comments_path(post.id)%></i>
								</footer>		
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
		<tr>
			<td></td>
		</tr>
		<% end %> <% end %>
	</table>
</div>
