<div class="movie-awesome-buttons-holder">
	<div id="button-review" class='<%= buttons_rating.awesome == true ? "left checked" : "left" %>' data-review-id='<%= buttons_rating.id %>' data-rating='1' onclick="ratingHandler.initRating();"><div class='tick'></div>Охуенный</div>
	<div id="button-review" class='<%= !buttons_rating.awesome.nil? && buttons_rating.awesome == false ? "right checked" : "right" %>' data-review-id='<%= buttons_rating.id %>' data-rating='0'><div class='tick'></div>Говно</div>
	<div id="button-review" class='<%= buttons_rating.awesome.nil? ? "cancel-awesome hidden" : "cancel-awesome" %>' data-review-id='<%= buttons_rating.id %>' data-rating="" data-type="clear-awesome" float="left"><a>Я передумал</a></div>
</div>
