<% if inner.content? %>
	<div class="review-wrapper">
		<% unless User.find(inner.user_id).id == session[:userid] %>
			<div>
				<div class="review-author stacked"><%= User.find(inner.user_id).nickname %></div>
				<% if !inner.stars.nil? && inner.stars > 0 %>
					<div class="movie-stars">
    					<ul>
    					<% (1..3).each do |i| %>
    						<li class='<%= 'on' unless i > inner.stars %>'></li>
					    <% end %>
    					</ul>
					</div>
				<% end %>
				<% unless inner.awesome.nil? %>
					<% if inner.awesome %>							
						<div class="review-awesome-text good"><%= t(".awesome_movie") %></div>
					<% else %>
						<div class="review-awesome-text bad"><%= t(".shit_movie") %></div>
					<% end %>
				<% end %>
				<div class="review-time"><%= l inner.updated_at %></div>
			</div>
		<% end %>
		<div class="review-content">
			<%= inner.content %>
		</div>
		<% if inner.user_id == session[:userid] %>
			<%= link_to t(".delete_review"), inner, method: :delete, data: { confirm: t(".delete_confirm")}, class: "small-link" %>
		<% end %>
	</div>
	<div class="review-separator"></div>
<% end %>
