<!DOCTYPE html>
<html>
<head>
  <title>П.Е.Д.А.Л.И.</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/assets/favicon.ico">
</head>
<body>
	<%= render 'posts/header' %>
	<div class="main-container">
		<%= yield %>
	</div>
	<%= render 'main/footer' %>
</body>
</html>